<style>
.top-seller-container {
	display:flex;
	flex-direction:column;
	align-items:center;
}
.top-seller-card {
	display:flex;
	flex-direction:column;
	justify-content:center;

	border-style:solid;
	width:500px;
	height:80px;
	margin:10px;
}
.top-seller-text {
	text-align:center;
	font-size:20px;
}
.head {
	display:flex;
	justify-content:right;
}
</style>


<div class="head">
<%= form_with url: "/top_seller", method: :get do |form| %>
    <%= form.hidden_field :start_date%> start date:
    <%= form.date_field :start_date, :required => true %>
    &ensp; &ensp; &ensp; &ensp; &ensp;
    <%= form.hidden_field :end_date%> end date:
    <%= form.date_field :end_date, :required => true %>
    &ensp; &ensp; &ensp; &ensp; &ensp;
    <%= form.submit "search", class:"btn btn-info" %> 
<% end %>
</div>

<div style="display:flex;flex-direction:column;align-items:center;padding:20px">
	<h1>Top Seller</h1>
	<div class="top-seller-container">
		<% @sellers.each do |seller|  %>
			<div class="top-seller-card">
				<div class="top-seller-text"><%= seller.name %></div>
				<div class="top-seller-text">total price : <%= seller.total_price %></div>
			</div>
		<% end %>
	</div>
</div>
