<div>
  Show all item list in the market
</div>
<table id = "marketTable" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Item_id</th>
      <th scope="col">Name</th>
      <th scope="col">Picture</th>
      <th scope= "col">Stock</th>
      <th scope= "col">Price</th>
      <th scope= "col">Qty Buy</th>
    </tr>
  </thead>
  <tbody>
    <% @markets.each do |market| %>
      <tr>
        <td> <%= market.item_id %></td>
        <td> <%= Item.find(market.item_id).name%></td>
        <td><%= image_tag(Item.find(market.item_id).image,style:"width:100px;height:100px") %></td>
        <td> <%= market.stock %></td>
        <td> <%= market.price %></td>
        <%= form_for :market, url: "/market/buy",method: :post  do |form| %>
          <td class="form-group">
            <%= form.number_field :qty,class:"form-control",placeholder:"Qty", required: true %>
          </td>
          <%= form.hidden_field :seller_id,class:"form-control",value: market.user_id  %>
          <%= form.hidden_field :item_id,class:"form-control",value: market.item_id %>
          <td>
            <%=  submit_tag("Buy Item", :class => "btn btn-primary") %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<script>
  $(document).ready(function(){
    var dataTable = $("#marketTable").DataTable({})
  })
</script>
